*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: auto;
    height: auto;
}

.header-list{
    margin-top: 2%;
}

.specification{
    margin-top: 2%;
}

.about-persone{
    margin-top: 3%;
    width: 50%;
}

h2{
    margin-top: 2%;
}

article section{
    border-top: 2px solid rgb(128, 127, 127);
    width: 50%;
    margin-top: 2%;
}
